* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,83,1) 35%, rgba(0,212,255,1) 100%);
}
h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Rubik Vinyl", cursive;
  color: white;
  margin-top: 30px;
}
img {
  width: 250px;
  float: left;
  margin-right: 20px;
  border-radius: 10px;
}
img:hover {
  width: 350px;
  
}

.box {
  margin: 10px 180px;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

h2 {
  color: orange;
}
p {
  color: white;
}
.content p {
  width: 100%;
}

.btn a {
  float: right;
  margin-top: 50px;
  margin-right: 10px;
  width: 100px;
  height: 40px;
  background-color: coral;
  color: white;
  border: none;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
